<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="conexion" connectionString="lPf7MdiQ3Xaz+F3XCNmLReTr/gWSABQp+EIVeq4GMZcK1Js87kbpK6qzdAy0FA2HY6Y3Ey0dY2y4NHdfFoV7D+XIdem0/kvg46ClBHuYpKsNQx1IsdiTY6fUZwlKRRbh"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>